services:
  web:
    build:
      context: .
      dockerfile: docker/django.Dockerfile
    container_name: youtube-fetcher-web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery:
    build:
      context: .
      dockerfile: docker/celery.Dockerfile
    container_name: youtube-fetcher-celery
    command: celery -A config worker -l info
    volumes:
      - ./src:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery-beat:
    build:
      context: .
      dockerfile: docker/celery.Dockerfile
    container_name: youtube-fetcher-celery-beat
    command: celery -A config beat -l info
    volumes:
      - ./src:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: youtube-fetcher-db
    environment:
      POSTGRES_DB: youtube
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: youtube-fetcher-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
